.cls_ax2i4t6f { color: black; }
.cls_58cy081d { color: blue; }
.cls_ml0xs2ba { background-color: blue; color: white; padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; border-radius: 8px; box-shadow: 3px 3px 6px rgba(0,0,0,0.3); :hover { box-shadow: 0px 4px 15px rgba(0,0,0,0.5); } }
.cls_ax2i4t6f { color: black; }
.cls_58cy081d { color: blue; }
.cls_ml0xs2ba { background-color: blue; color: white; padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; border-radius: 8px; box-shadow: 3px 3px 6px rgba(0,0,0,0.3); :hover { box-shadow: 0px 4px 15px rgba(0,0,0,0.5); } }